@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
  --font-bebas:"Bebas Neue", sans-serif;
  --font-bitcount: "Bitcount", system-ui;
}




::selection {
  @apply bg-green-300; 
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.mask{

      mask-image: url('/vercel.svg');

      mask-repeat: no-repeat;

      mask-size: 40px;

      background: black;

      position: absolute;

      color: white;

    }